In [26]:
##notebook to extract data from Resource CSVs, Clean and Transform Data and export to a SQL database

In [27]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [28]:
#2020 Voter Turnout Data (source Electionproject.org)

In [29]:
csv_file = "Resources/2020_General_Election_ElectionProject.csv"
voter_2020_df=pd.read_csv(csv_file, encoding='UTF-8')

In [30]:
voter_2020_df=voter_2020_df.drop([0,1])

In [31]:
#rename and drop unneccessary columns and row, reset index 
voter_2020_df=voter_2020_df[['State','Unnamed: 3','Unnamed: 5','Denominators','Unnamed: 14']]
voter_2020_df=voter_2020_df.rename(columns={"State":"state","Unnamed: 3": "total_votes_2020", "Unnamed: 5": "vep_percent_2020","Denominators":"vep_2020","Unnamed: 14":"state_id"})
voter_2020_df=voter_2020_df.reset_index()
voter_2020_df=voter_2020_df.drop(columns=['index'])
voter_2020_df=voter_2020_df.drop([51])
#voter_2020_df.head(55)

In [32]:
#reformat numeric columns
voter_2020_df = voter_2020_df.replace(',','', regex=True)
voter_2020_df = voter_2020_df.replace('%','', regex=True)
voter_2020_df['total_votes_2020'] = voter_2020_df['total_votes_2020'].apply(pd.to_numeric, errors='coerce')
voter_2020_df['vep_percent_2020'] = voter_2020_df['vep_percent_2020'].apply(pd.to_numeric, errors='coerce')
voter_2020_df['vep_2020'] = voter_2020_df['vep_2020'].apply(pd.to_numeric, errors='coerce')

voter_2020_df.head()
voter_2020_df.dtypes

state                object
total_votes_2020      int64
vep_percent_2020    float64
vep_2020              int64
state_id             object
dtype: object

In [33]:
#2016 Voter Turnout Data (source Electionproject.org)

In [34]:
csv_file = "Resources/2016_General_Election_ElectionProject.csv"
voter_2016_df=pd.read_csv(csv_file, encoding='UTF-8')

In [35]:
voter_2016_df=voter_2016_df.drop([0,1])

In [36]:
#rename and drop unneccessary columns, reset index to State
voter_2016_df=voter_2016_df[['State','Unnamed: 7','Unnamed: 4','Denominators','Unnamed: 16']]
voter_2016_df=voter_2016_df.rename(columns={"State":"state","Unnamed: 7": "total_votes_2016", "Unnamed: 4": "vep_percent_2016","Denominators":"vep_2016","Unnamed: 16":"state_id"})
voter_2016_df=voter_2016_df.reset_index()
voter_2016_df=voter_2016_df.drop(columns=['index'])
voter_2016_df=voter_2016_df.drop([51])
#voter_2016_df.head(51)

In [37]:
#reformat numeric columns
voter_2016_df = voter_2016_df.replace(',','', regex=True)
voter_2016_df = voter_2016_df.replace('%','', regex=True)
voter_2016_df['total_votes_2016'] = voter_2016_df['total_votes_2016'].apply(pd.to_numeric, errors='coerce')
voter_2016_df['vep_percent_2016'] = voter_2016_df['vep_percent_2016'].apply(pd.to_numeric, errors='coerce')
voter_2016_df['vep_2016'] = voter_2016_df['vep_2016'].apply(pd.to_numeric, errors='coerce')

voter_2016_df.head()
voter_2016_df.dtypes

state                object
total_votes_2016      int64
vep_percent_2016    float64
vep_2016              int64
state_id             object
dtype: object

In [38]:
#2016 Election Results (source New York Times "https://www.nytimes.com/elections/2016/results/president")

In [39]:
csv_file = "Resources/2016_Results.csv"
Results_2016_df=pd.read_csv(csv_file, encoding='UTF-8')
Results_2016_df.head()

    STATE DEM. REP. OTH. % RPT.
0  Calif.  62%  32%   3%   100%
1    D.C.  91%   4%   2%   100%
2  Hawaii  62%  30%   4%   100%
3     Md.  60%  34%   3%   100%
4   Mass.  60%  33%   4%   100%

#rename states to conform with turnout tables
STATE_list = Results_2016_df['STATE'].tolist()
STATE_list

In [40]:
#Create new to add to DF with proper state names
State_ID=['CA',
 'DC',
 'HI',
 'MD',
 'MA',
 'NY',
 'RI',
 'VT',
 'CT',
 'DE',
 'IL',
 'ME',
 'MI',
 'NJ',
 'NM',
 'OR',
 'WA',
 'CO',
 'FL',
 'IA',
 'MN',
 'NV',
 'NH',
 'OH',
 'PA',
 'VA',
 'WI',
 'AZ',
 'GA',
 'IN',
 'MO',
 'NC',
 'AL',
 'AK',
 'AR',
 'ID',
 'KS',
 'KY',
 'LA',
 'MS',
 'MT',
 'NE',
 'ND',
 'OK',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'WV',
 'WY']

In [41]:
Results_2016_df['State_ID'] = State_ID
Results_2016_df.head()

    STATE DEM. REP. OTH. % RPT. State_ID
0  Calif.  62%  32%   3%   100%       CA
1    D.C.  91%   4%   2%   100%       DC
2  Hawaii  62%  30%   4%   100%       HI
3     Md.  60%  34%   3%   100%       MD
4   Mass.  60%  33%   4%   100%       MA

In [42]:
#sort Alphabetically by State
#drop STATE, %RPT
#reset index
Results_2016_df=Results_2016_df[["State_ID","STATE","DEM.","REP.","OTH."]]
Results_2016_df=Results_2016_df.rename(columns={"State_ID":"state_id","STATE":"state","DEM.": "dem_percent", "REP.": "rep_percent","OTH.":"other_percent"})
#Results_2016_df.head(52)

In [43]:
#state_id	state	dem_percent	rep_percent	other_percent
#reformat numeric columns

Results_2016_df = Results_2016_df.replace('%','', regex=True)
Results_2016_df['dem_percent'] = Results_2016_df['dem_percent'].apply(pd.to_numeric, errors='coerce')
Results_2016_df['rep_percent'] = Results_2016_df['rep_percent'].apply(pd.to_numeric, errors='coerce')
Results_2016_df['other_percent'] = Results_2016_df['other_percent'].apply(pd.to_numeric, errors='coerce')

Results_2016_df.head()
Results_2016_df.dtypes

state_id         object
state            object
dem_percent       int64
rep_percent       int64
other_percent     int64
dtype: object

In [44]:
#2020 Election Results (source cook political report "https://cookpolitical.com/2020-national-popular-vote-tracker")

In [45]:
csv_file = "Resources/2020_Results.csv"
Results_2020_df=pd.read_csv(csv_file, encoding='UTF-8')
Results_2020_df.head()

,state,called,final,dem_votes,rep_votes,other_votes,dem_percent,rep_percent,other_percent,dem_this_margin,...,stateid,EV,X,Y,State_num,Center_X,Center_Y,Unnamed: 19,2016 Margin,Total 2016 Votes
0,U.S. Total,No,No,"81,281,672","74,221,585","2,898,868",51.30%,46.90%,1.80%,4.50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020995,"136,639,848"
1,Arizona,D,Yes,"1,672,143","1,661,686","53,497",49.40%,49.10%,1.60%,0.30%,...,AZ,11.0,2.0,2.0,4.0,205.0,374.0,NaN,-0.035456,"2,573,165"
2,Florida,R,Yes,"5,297,045","5,668,731","101,680",47.90%,51.20%,0.90%,-3.40%,...,FL,29.0,8.0,0.0,12.0,787.0,520.0,NaN,-0.011986,"9,420,039"
3,Georgia,D,Yes,"2,474,507","2,461,837","62,138",49.50%,49.30%,1.20%,0.30%,...,GA,16.0,7.0,1.0,13.0,734.0,419.0,NaN,-0.051313,"4,092,373"
4,Iowa,R,Yes,"759,061","897,672","34,138",44.90%,53.10%,2.00%,-8.20%,...,IA,6.0,5.0,4.0,19.0,536.0,223.0,NaN,-0.094068,"1,566,031"

In [46]:
#drop Extra Columns,drop US Total
Results_2020_df=Results_2020_df[['stateid','state','dem_percent','rep_percent','other_percent']]
Results_2020_df=Results_2020_df.drop([0])
Results_2020_df.head()

  stateid     state dem_percent rep_percent other_percent
1      AZ   Arizona      49.40%      49.10%         1.60%
2      FL   Florida      47.90%      51.20%         0.90%
3      GA   Georgia      49.50%      49.30%         1.20%
4      IA      Iowa      44.90%      53.10%         2.00%
5      MI  Michigan      50.60%      47.80%         1.50%

In [47]:
#check all data
#Results_2020_df.head(55)

In [48]:
#reformat numeric columns

Results_2020_df = Results_2020_df.replace('%','', regex=True)
Results_2020_df['dem_percent'] = Results_2020_df['dem_percent'].apply(pd.to_numeric, errors='coerce')
Results_2020_df['rep_percent'] = Results_2020_df['rep_percent'].apply(pd.to_numeric, errors='coerce')
Results_2020_df['other_percent'] = Results_2020_df['other_percent'].apply(pd.to_numeric, errors='coerce')

Results_2020_df.head()
Results_2020_df.dtypes

stateid           object
state             object
dem_percent      float64
rep_percent      float64
other_percent    float64
dtype: object

In [49]:
#connect to local DataBase
from sqlalchemy import create_engine
from api_keys import user
from api_keys import password

In [50]:
rds_connection_string =(f"{user}:{password}@localhost:5432/ETL_Project_db")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [51]:
#load 2020 turnout table to database
voter_2020_df.to_sql(name='turnout_2020', con=engine, if_exists='append', index=False)

In [52]:
#load 2016 turnout table to database
voter_2016_df.to_sql(name='turnout_2016', con=engine, if_exists='append', index=False)

In [53]:
#load 2020 results table to database
Results_2020_df.to_sql(name='results_2020', con=engine, if_exists='append', index=False)

In [54]:
#load 2016 results table to database
Results_2016_df.to_sql(name='results_2016', con=engine, if_exists='append', index=False)